!!! XML
<!DOCTYPE html>
%html{ html_attrs }
  %head
    %title 404 Not Found
    %style
      :plain                  
        * {
          font-size: 100%;
          margin: 0;
          padding: 0;
        }

        body {
          font-family: lucida grande, verdana, sans-serif;
          margin: 1em;
        }

        a {
          color: #880000;
        }

        a:visited {
          color: #888888;
        }

        h1 {
          font-size: 2em;
          margin: 0 0 0.8em 0;
        }

        h2 {
          font-size: 1em;
          margin: 0.8em 0;
        }

        p {
          margin: 0.8em 0;
        }

        ul {
          font-size: 0.9em;
          margin: 0 0 0 1.5em;
        }
        
        pre {
          padding: 1em;
          border: 2px solid #AAAAAA;
          background-color: #888888;
          overflow: auto;
        }

        #content {
          padding: 0 0.8em;
          background-color: #AA5852;
          border: 2px solid #C2645D;
        }

        @media print {
          a {
            text-decoration: none;
            color: #000000;
          }
        }
  %body
    - if ENV['ENVIRONMENT'] == 'development'
      - error = objects.first
      #header
        %h1 404 Not Found
        %h2= error.class.name
      #content
        %p No available resources matching the request were found:
        %p= error.message
        - if error.respond_to?(:backtrace) && error.backtrace != nil
          %p
            = preformat(error.backtrace.join("\n"))
        - else
          %p Backtrace is unavailable.      
    - else
      #header
        %h1 404 Not Found
      #content
        %p
          No available resources matching the request were found.